h1,
h2 {
  color: #2bb2bb;
  text-align: center;
  font-size: 35px;
  font-weight: 100;
}
p {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
span {
  color: #2bb2bb;
  font-size: 74px;
  font-weight: 400;
}

footer {
  text-align: center;
}
#temperature {
  color: #2bb2bb;
  font-size: 74px;
  font-weight: 400;
}
.col-12 {
  text-align: center;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid #1dd3bd;
  border-radius: 10px;
}
