h1,
h2 {
  color: #2bb2bb;
  text-align: center;
  font-size: 35px;
  font-weight: 100;
}
p {
  text-align: center;
  color: #2bb2bb;
}
img {
  display: block;
  margin: 0 auto;
}
span {
  color: #2bb2bb;
  font-size: 74px;
  font-weight: 400;
}

footer {
  text-align: center;
}
ul {
  color: #2dd2bd;
  font-size: 20px;
  text-align: center;
  list-style: none;
}
.float-left {
  color: #2bb2bb;
  font-size: 74px;
  font-weight: 200;
  text-align: center;
}
.col-12 {
  text-align: center;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid #1dd3bd;
  border-radius: 10px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
#wind {
  font-size: 20px;
  font-weight: 100;
  color: #2dd2bd;
}
